<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Request</title>
</head>
<body>
  <h3>Dear {{name}},</h3>
  <p>We received a request to reset your password. If you made this request, please click the link below to set a new password:</p>
  <p>
    <a href="{{reset_link}}">Reset Your Password</a>
  </p>
  <p>If you didn't request a password reset, please ignore this email. Your password will remain unchanged.</p>
  <p>For any further assistance, feel free to reach out to our support team.</p>
  <p>Thank you!</p>
  <p>Best regards,<br>NestJs Starter Technologies</p>
</body>
</html>
